{% extends "base.html" %}
{% load menu %}
{% load static %}

{% block style %}

  
{% endblock style %}

{% block content %}


 <!-- Categories Start -->
 <div class="container-fluid pt-5">
    <h2 class=" position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
    <hr>
    <div class="row px-xl-5 pb-3">
       
        {% menu %}

    </div>
</div>


<!-- Categories End -->
<h2 class=" position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>

<section class="py-2">
        <div class="container px-4 px-lg-5 mt-3">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products  %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    {% if product.image %}
                    <img class="card-img-top" src="{{ product.image.url }}" alt="..." style="height: 300px;"/>

                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title}}</h5>
                            <!-- Product price-->
                            <i class="fa-solid fa-indian-rupee-sign"></i> {{product.price}}
                           
                        </div>
                        
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-dark mt-auto text-white" href="{% url 'product-detail' product.category.slug product.slug  %}">View options</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
               
                
            </div>
        </div>
    </section>
  
{% endblock content %}
